html {
  font-family: sans-serif;
}

p,
label {
  font:
    1rem "Fira Sans",
    sans-serif;
}

input {
  margin: 0.4rem;
}

form {
  width: 1000px;
  margin: 0 auto;
}

div {
  margin-bottom: 10px;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th {
  background-color: #96D4D4;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}